.benefits{
    background: linear-gradient(99.37deg, rgba(229, 245, 181, 0.2) -1.26%, rgba(16, 50, 0, 0) 114.02%);
    padding-bottom: 50px;
    .benefitsTitle{
        text-align: center;
        font-size: 24px;
        padding-top: 65px;
        font-weight: 700;
        strong{
            color: rgba(226, 204, 0, 1);
        }
    }
    .benefitsItens{
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }
}

@media screen and (min-width:370px) {
    .benefits{
        .benefitsTitle{
            width: 300px;
            margin-left: calc(50% - 150px);
        }   
    }
}
@media screen and (min-width:400px) {
    .benefitsItens{
        width: 100%;
        margin-left: 0px;
    }
}
@media screen and (min-width:600px) {
    .benefits{
        .benefitsTitle{
            width: 100%;
            margin-left:0px;
            font-size: 30px;
        }
    }
}
@media screen and (min-width:992px) {
    .benefits{
        .benefitsTitle{
            font-size: 40px;
        }
        .benefitsItens{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            
        }
    }
}